* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(darkgreen, yellowgreen);
    background-repeat: no-repeat;
    height: 100vh;
}
header {
    padding: 10px;
    background-color: white;
}
.todolist-container {
    background-color: white;
    max-width: 600px;
    margin: 60px auto;
    border-radius: 20px;
}
.top-container, .bottom-container {
    padding: 40px;
}
.top-container {
    border-bottom: 1px solid black;
}
ul li {
    border-bottom: 1px solid black;
    padding: 20px 0px;
}
ul li:last-child {
    border-bottom: none;
}